<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<ul>
    <li><button type="submit" value="Login" register" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" onclick="location.href='@Url.Action("Create", "User" )'" style="width:100px;">Register</button></li>
        <hr width="250" size="1">
    <li><button type="submit" value="Login" register" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" onclick="location.href='@Url.Action("Login", "User" )'" style ="width:100px;">Login</button></li>
</ul>
